#chat-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* ====== Header of the chatbox */
.box__header {
  padding: 17px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.header__chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.chat__icon {
  font-size: 1.75rem;
  margin-right: 12px;
}
.chat__title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.header__back {
  display: flex;
  background: transparent;
  color: var(--color-text-purple);
}
.back__icon {
  font-size: 2rem;
  margin-left: 12px;
}

/* ====== Messages of the chatbox */
.box__messages {
  padding: 50px 20px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: auto;
}
.messages {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.no-messages {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  opacity: .3;
  letter-spacing: 2px;
  user-select: none;
}

.message__left {
  margin-bottom: 80px;
  max-width: 80%;
  position: relative;
}
.left__name {
  padding: 5px 6px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  text-transform: uppercase;
  font-size: .8rem;
  opacity: .6;
  color: var(--color-text-purple);
}
.left__message {
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  word-wrap: break-word;
}
.left__time {
  padding: 10px 6px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: .3;
  font-size: 14px;
}

.message__right {
  align-self: flex-end;
  margin-bottom: 60px;
  max-width: 80%;
  position: relative;
}
.right__message {
  padding: 10px 20px;
  box-shadow: var(--box-shadow-inset);
  background-color: var(--color-text-purple-active);
  border-radius: var(--border-radius);
  word-wrap: break-word;
}
.right__time {
  padding: 10px 6px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  opacity: .3;
  font-size: 14px;
}

/* ====== Input of the chatbox */
.box__input {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 65px;
  color: var(--color-text-purple);
}

.input__form {
  padding: 8px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  background: var(--color-primary);
  /* box-shadow: var(--box-shadow); */
}

.form__message {
  width: 80%;
  color: var(--color-text-purple);
  background: var(--color-primary);
  padding: 10px 20px;
  box-shadow: var(--box-shadow-inset);
  border-radius: 30px;
}
.form__message::placeholder {
  letter-spacing: 1px;
}

.form__send {
  margin: 2px;
  color: var(--color-text-purple);
  background: var(--color-primary);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 1.6rem;
}
.form__send:active {
  box-shadow: var(--box-shadow-inset);
  color: var(--color-text-purple-active);
}

.send-icon {
  text-shadow: var(--box-shadow-inset);
}