#chat-menu {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  background-color: var(--color-primary);
  /* position: absolute;
  z-index: 200; */
}

.menu__header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.header__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.header__icon {
  font-size: 2rem;
  text-shadow: var(--box-shadow);
  cursor: pointer;
}

.menu__chats {
  padding: 30px 25px;
}
.chats__chat {
  cursor: pointer;
  margin: 10px 0;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  color: var(--color-secondary);
  /* border-bottom: .5px solid var(--color-text-danger); */
}
.chat-icon {
  font-size: 1.4rem;
}
.chat-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-text-purple)
}
.chat-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}