#chat-app {
  height: 768px;
  width: 1480px;
  max-width: 1480px;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: minmax(100px, 380px) repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 25px;

  color: var(--color-text-primary);
}
