#chat-app {
  padding: .5rem .4rem;
  margin: auto;
  height: 100vh;
  /* max-width: 500px; */
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #chat-app {
    /* height: 95vh; */
    /* border-radius: var(--border-radius); */
  }
}
